<div class="CategoryContainer">
  <div class="ContentContainer Unselectable" (click)="CategoryClickEvent()">
    <div class="button">
      {{ Elem.name.EN }}
    </div>
    <div
      *ngIf="Elem.children.length > 0"
      [ngClass]="{ ImageUp: ShowSubTree, ImageDown: !ShowSubTree }"
    ></div>
  </div>
  <div class="ChildContainer" *ngIf="ShowSubTree">
    <category-component
      class="Category"
      *ngFor="let one of Elem.children"
      [Elem]="one"
    ></category-component>
  </div>
</div>
