<div class="Container">
  <div class="Panel">
    <category-elem-component
      *ngFor="let one of TreeObject"
      [Elem]="one"
    ></category-elem-component>
  </div>

  <div class="Panel">
    <div class="CategoryContainer" *ngIf="Elem !== undefined">
      <div class="NameContainer">
        <div class="Name">{{ Elem.categoryServer.name.EN }}</div>
        <div class="Icon" (click)="DeactivateCategory()"></div>
      </div>

      <div class="ControlContainer">
        <button
          class="button"
          mat-raised-button
          (click)="ShowNewCategoryForm = !ShowNewCategoryForm"
        >
          Добавить подкатегорию
        </button>
        <button
          class="button"
          mat-raised-button
          (click)="ShowChangeCategoryForm = !ShowChangeCategoryForm"
        >
          Изменить категорию
        </button>
        <button class="button" mat-raised-button (click)="DelCategory()">
          Удалить категорию
        </button>
        <!-- <button
          *ngIf="Elem.categoryServer.is_visible"
          class="button"
          mat-raised-button
          (click)="VisibilityButtonClick()"
        >
          Скрыть
        </button>
        <button
          *ngIf="!Elem.categoryServer.is_visible"
          class="button"
          mat-raised-button
          (click)="VisibilityButtonClick()"
        >
          Показать
        </button> -->
        <!-- <button
          *ngIf="Elem.categoryServer.is_blocked"
          class="button"
          mat-raised-button
          (click)="BlockButtonClick()"
        >
          Разблокировать
        </button>
        <button
          *ngIf="!Elem.categoryServer.is_blocked"
          class="button"
          mat-raised-button
          (click)="BlockButtonClick()"
        >
          Заблокировать
        </button> -->
      </div>

      <div class="FormContainer" *ngIf="ShowNewCategoryForm">
        <div class="Label">Добавление</div>
        <category-form-component [ParentElem]="Elem"></category-form-component>
      </div>

      <div class="FormContainer" *ngIf="ShowChangeCategoryForm">
        <div class="Label">Изменение</div>
        <category-form-component
          [SelectedElem]="Elem"
        ></category-form-component>
      </div>
    </div>
  </div>
</div>
