.Container {
  font-size: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 5px;

  .Panel {
    width: 100%;
    height: auto;
    background-color: rgb(243, 243, 243);

    .button {
      margin: 10px;
    }

    .NameContainer {
      display: flex;
      .Name {
        box-sizing: border-box;
        margin: 5px;
      }
      .Icon {
        box-sizing: border-box;

        height: 20px;
        width: 20px;
        margin: 5px;
        background: url(\src\app\CategoryModule\assets\times-circle-regular.svg)
          no-repeat top;
      }
    }
  }
}
